<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded"
		th:fragment="header">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/menu/inicio">Taller</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="/menu/inicio">Inicio<span class="sr-only">(current)</span></a></li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" 
						 id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cat&aacute;logos </a>
						 				      
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					    <a class="dropdown-item" href="/ope/ctCliente">Clientes</a>
						<a class="dropdown-item" href="/ope/ctColorAuto">Color Auto</a> 
						<a class="dropdown-item" href="/ope/ctDireccionAuto">Direcci&oacute;n Auto</a> 
						<a class="dropdown-item" href="/ope/ctEngomado">Engomado</a>
						<a class="dropdown-item" href="/ope/ctEstatusOS">Estatus Orden Servicio</a> 
						<a class="dropdown-item" href="/ope/ctMarcaVehiculo">Marcas de Veh&iacute;culos</a> 
						<a class="dropdown-item" href="/ope/ctSisCombAuto">Sistemas de Combusti&oacute;n</a> 
						<a class="dropdown-item" href="/ope/ctTransmision">Tipos de Transmisiones</a>
						<a class="dropdown-item" href="/ope/ctUsosVehiculo">Tipos de Usos de Veh&iacute;culos</a> 
						<a class="dropdown-item" href="/ope/ctTipoAuto">Tipos de Veh&iacute;culos</a>
						
					</div>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" 
						 id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Orden de Servicio </a>
						 				      
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					    <a class="dropdown-item" href="/ope/gnOrdenServicio">Alta Orden de Servicio</a>
						<a class="dropdown-item" href="/ope/gnOrdenServicio/consultaOS">Consulta Orden de Servicio</a> 						
					</div>
				</li>
					
				<li class="nav-item"><a class="nav-link"
					href="/segCerrarSesion">Cerrar Sesi&oacute;n</a></li>
			</ul>
		</div>
	</nav>

</body>
</html>