<!DOCTYPE html>
<html lang="es">
<head>
<title>Inicio de Sesión</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="#"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#"
	th:href="@{/sweetalert/css/sweetalert.css}" />
<link rel="stylesheet" href="#" th:href="@{/tether/css/tether.min.css}" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500" />
<link rel="stylesheet" href="#"
	th:href="@{/css/segLoginV/segLoginV.css}" />	
</head>
<body style="font-family: 'Roboto', sans-serif;">

	<div class="container-fluid h-100">
		<div class="container">

			<div class="col-12">
				<br />
			</div>

			<div class="d-flex justify-content-center align-items-center">
			<form id="formLogin" th:action="@{/segValidaSesionP}" method="POST" >
				<div id="companiaD" class="form-group row align-items-center">
					<label for="compania"
						class="col-md-3 text-center col-form-label" ><h5 class="lead">Compañia:</h5></label>
					<div class="col-md-9">
						<input type="text" class="form-control form-control-lg"
							id="compania" name="compania" placeholder="Compañia" />
						<div id="errorC" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="usuarioD" class="form-group row align-items-center">
					<label for="usuario"
						class="col-md-3 text-center col-form-label"><h5 class="lead">Usuario:</h5></label>
					<div class="col-md-9">
						<input type="text" class="form-control form-control-lg"
							id="usuario" name="usuario" placeholder="Usuario" />
						<div id="errorU" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="passwordD" class="form-group row align-items-center">
					<label for="password"
						class="col-md-3 text-center col-form-label"><h5 class="lead">Contraseña:</h5></label>
					<div class="col-md-9">
						<input type="password" class="form-control form-control-lg"
							id="password" name="password" placeholder="Contraseña" onkeypress="return validarUsuario(event)" />
						<div id="errorP" class="form-control-feedback"></div>	
					</div>
				</div>

				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" onclick="segValidaForm();">Ingresar</button>
				</div>

			</form>
			</div>
			
			<div class="col-12" style="display:none;"><span id="message" th:text="${error}"></span></div>

			<div class="col-12">
				<br />
			</div>

		</div>
	</div>

	<script src="#" th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
	<script src="#" th:src="@{/tether/js/tether.min.js}"></script>
	<script src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="#" th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
	<script src="#" th:src="@{/js/segLoginV/segLoginV.js}"></script>

</body>
</html>