<!DOCTYPE html>
<html lang="es">
<head>
<title>Inicio de Sesión</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="#"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#"
	th:href="@{/sweetalert/css/sweetalert.css}" />
<link rel="stylesheet" href="#" th:href="@{/tether/css/tether.min.css}" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500" />
</head>
<body style="font-family: 'Roboto', sans-serif;">

	<div class="container-fluid">
		<div class="container">

			<div class="col-12">
				<br />
			</div>

			<form th:action="@{/validaSesion}" method="POST">
				<div id="companiaD" class="form-group row">
					<label for="compania"
						class="offset-md-3 col-md-2 text-center col-form-label" ><h5>Compañia:</h5></label>
					<div class="col-md-4">
						<input type="text" class="form-control form-control-lg"
							id="compania" name="compania" placeholder="Compañia" />
						<div id="errorC" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="usuarioD" class="form-group row">
					<label for="usuario"
						class="offset-md-3 col-md-2 text-center col-form-label"><h5>Usuario:</h5></label>
					<div class="col-md-4">
						<input type="text" class="form-control form-control-lg"
							id="usuario" name="usuario" placeholder="Usuario" />
						<div id="errorU" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="passwordD" class="form-group row">
					<label for="password"
						class="offset-md-3 col-md-2 text-center col-form-label"><h5>Contraseña:</h5></label>
					<div class="col-md-4">
						<input type="password" class="form-control form-control-lg"
							id="password" name="password" placeholder="Contraseña" />
						<div id="errorP" class="form-control-feedback"></div>	
					</div>
				</div>


				<div class="offset-5 offset-md-6">
					<button type="button" class="btn btn-primary btn-lg" onclick="segValidaForm();">Ingresar</button>
				</div>

			</form>

			<div class="col-12">
				<br />
			</div>

		</div>
	</div>

	<script src="#" th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
	<script src="#" th:src="@{/tether/js/tether.min.js}"></script>
	<script src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script src="#" th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
	<script src="#" th:src="@{/js/segLoginV/segLoginV.js}"></script>

</body>
</html>