<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
<title>Pagina 1</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>


	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form action="#" th:action="@{/ope/ctColorAuto/agregar}"
			th:object="${colorAuto}" method="post">



			<div class="modal-body">

				<div class="form-group">

					<label for="compania" class="form-control-label">compania:</label>
					<input type="text" readonly="true" class="form-control"
						id="compania" th:field="*{compania}" th:value="${compania}" /> <label
						for="color" class="form-control-label">color:</label> <input
						type="text" class="form-control" id="color" th:field="*{color}"
						th:value="${color}" /> <label for="activo"
						class="form-control-label">activo:</label> <input type="checkbox"
						class="form-control" id="activo" th:field="*{activo}"
						th:value="${activo}" /> <input type="hidden" class="form-control"
						id="rowid" th:field="*{rowid}" />


				</div>

			</div>



			<div class="modal-footer">
				<a href="#" th:href="@{/ope/ctColorAuto/lista}">
					<button type="button" class="btn btn-danger">Cancelar</button>
				</a>
				<button type="submit" class="btn btn-primary">Guardar</button>
			</div>

		</form>
	</div>
	
	<div class="col-12" style="display: none;">
		<span id="message" th:text="${error}"></span>
	</div>

	<script type="text/javascript">
	
	if(document.getElementById("message").innerHTML != ""){
		swal('Error', document.getElementById("message").innerHTML,'error');
	}
	
	</script>

</body>
</html>


