<!DOCTYPE html>
<html>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<head th:replace="fragments/headTag :: headTag">
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<br />

	<form action="#" th:action="@{/ope/ctEstatusOS/agregar}"
		th:object="${estatusOS}" method="POST">

		<div class="modal-body">

			<div class="form-group row">
				<label for="compania" class="col-2 col-form-label">Compa&ntilde;ia</label>
				<div class="col-10">
					<input class="form-control" type="text" id="compania"
						th:field="*{compania}" th:value="${compania}" readonly="true" />
				</div>
			</div>

			<div class="form-group row">
				<label for="estatus" class="col-2 col-form-label">Estatus:</label>
				<div class="col-10">
					<input class="form-control" type="text" id="estatus"
						th:field="*{estatus}" th:value="${estatus}" />
				</div>
			</div>

			<div class="form-group row">
				<label for="obs" class="col-2 col-form-label">Observaciones:</label>
				<div class="col-10">
					<input class="form-control" type="text" id="obs" th:field="*{obs}"
						th:value="${obs}" />
				</div>
			</div>

			<div class="form-group row">
				<label for="activo" class="col-2 col-form-label">Activo:</label>
				<div class="col-10">
					<input type="checkbox" class="form-control" id="activo"
						th:field="*{activo}" th:value="${activo}" />
				</div>
			</div>

			<input type="hidden" class="form-control" id="rowid"
				th:field="*{rowid}" />

		</div>

		<div class="modal-footer">
			<a href="#" th:href="@{/ope/ctEstatusOS/lista}">
				<button type="button" class="btn btn-danger">Cancelar</button>
			</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>

	</form>

</body>
</html>